@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

li{
  list-style: none; 
}

#logo{
  height: 3em;
  margin-left: 85px;
  margin-top: 14px;
}

nav{
  display: flex;
  justify-content: space-between;
  max-height: 72px;
  max-width: 1440px;
}

nav ul{
  display: flex;
  margin-top: 24px;
  margin-left: -5em;
  list-style: none;
}

nav ul li{
  margin-left: 24px;
  text-align: center;
  
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

nav button{
  width: 75px;
  height: 31px;
  margin-top: 21px;
  background-color: #D01C28;
  color: #FFFFFF;
  margin-right: 85px;

}

.leftdiv{
  max-width: 595px;
  margin-left: 157px;
}

.leftdiv h1{

  font-size: 100px;
  line-height: 102px;
  
}



.leftdiv p{
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400px;
  max-width: 404px;
}

#shopnow{
  background-color: #D01C28;
  color: #FFFFFF;
  height: 29px;
  width: 118px;
}

#category{
  height: 29px;
  width: 118px;
  margin-left: 40px;
}

.downimage{
  width: 32px;
  height: 32px;
  margin-left: 16px;
}

.availablebox{
  margin-top: 3em;
}

.availablebox p{
  font-weight: 250;
}

#shoeimage{
  width: 540px;
  height: 497.06px;
  margin-top: 100px;
}

.bottom{
  display: flex;
}

